@model ESD6NL.DriverSystem.Models.CarViewModel

@{
    ViewData["Title"] = "CarDetail";
}

<h2>Auto met kenteken @Html.DisplayFor(model => model.car.rdwData.kenteken)</h2>

<table class="table  table table-striped table-bordered table-responsive table-condensed">
    <tbody>
        <tr>
            <td>Auto merk</td>
            <td>@Html.DisplayFor(model => model.car.rdwData.merk)</td>
        </tr>

        <tr>
            <td>Handelsbenaming</td>
            <td>@Html.DisplayFor(model => model.car.rdwData.handelsbenaming)</td>
        </tr>

        <tr>
            <td>Soort voertuig</td>
            <td>@Html.DisplayFor(model => model.car.rdwData.voertuigsoort)</td>
        </tr>

        <tr>
            <td>Zuinigheidslabel</td>
            <td>@Html.DisplayFor(model => model.car.rdwData.zuinigheidslabel)</td>
        </tr>

        <tr>
            <td>Brandstof</td>
            <td>@Html.DisplayFor(model => model.car.rdwData.api_gekentekende_voertuigen_brandstof)</td>
        </tr>

        <tr>
            <td>Auto kleur</td>
            <td>@Html.DisplayFor(model => model.car.rdwData.eerste_kleur)</td>
        </tr>

        <tr>
            <td>Aantal deuren</td>
            <td>@Html.DisplayFor(model => model.car.rdwData.aantal_deuren)</td>
        </tr>

        <tr>
            <td>Aantal zitplaatsen</td>
            <td>@Html.DisplayFor(model => model.car.rdwData.aantal_zitplaatsen)</td>
        </tr>

        <tr>
            <td>Aantal rolstoelplaatsen</td>
            <td>@Html.DisplayFor(model => model.car.rdwData.aantal_rolstoelplaatsen)</td>
        </tr>

        <tr>
            <td>Vervaldatum APK</td>
            <td>@Html.DisplayFor(model => model.car.rdwData.vervaldatum_apk)</td>
        </tr>

    </tbody>
</table>
