@using ESD6NL.DriverSystem.Helpers
@model ESD6NL.DriverSystem.Models.InvoiceViewModel

@{
    ViewData["Title"] = "InvoiceDetail";
}
<div>
    <h2>@Html.getTerm("Factuur ") @Html.DisplayFor(model => model.invoiceId)</h2>
</div>
<div>
    <h4>@Html.getTerm("Totale kosten    ") @Html.DisplayFor(model => model.totalEuros)</h4>
    <h4>@Html.getTerm("Betaling status  ") @Html.DisplayFor(model => model.paymentStatus)</h4>
</div>

<table class="table  table table-striped table-bordered table-responsive table-condensed">
    <thead>
        <tr>
            <th>@Html.getTerm("Datum")</th>
            <th>@Html.getTerm("Dag van de week")</th>
            <th>@Html.getTerm("Gereden kilometers")</th>
            <th>@Html.getTerm("Bedrag")</th>
        </tr>
    </thead>

    <tbody>
        @{
            foreach (var row in Model.rows)
            {
                        <text>

                <tr>
                    <td>@row.date</td>
                    <td>@row.dayOfWeek</td>
                    <td>@row.km</td>
                    <td>@row.costs</td>
                </tr>

                        </text>

                }
            }
    </tbody>
</table>

<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="business" value="ESY2YG37BHXQY">
    <input type="hidden" name="lc" value="NL">
    <input type="hidden" name="item_name" value="Invoice @Model.invoiceId">
    <input type="hidden" name="amount" value="@Model.totalEuros">
    <input type="hidden" name="currency_code" value="EUR">
    <input type="hidden" name="button_subtype" value="services">
    <input type="hidden" name="no_note" value="1">
    @*<input type="hidden" name="return" value="http://localhost:59991/Invoice/InvoiceOverview">
    <input type="hidden" name="cancel_return" value="http://192.168.25.122:8090/Invoice/InvoiceOverview">*@
    <input type="hidden" name="no_shipping" value="2">
    <input type="hidden" name="bn" value="PP-BuyNowBF:btn_paynow_LG.gif:NonHosted">
    <input type="image" src="https://www.sandbox.paypal.com/nl_NL/NL/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal, de veilige en complete manier van online betalen.">
    <img alt="" border="0" src="https://www.sandbox.paypal.com/nl_NL/i/scr/pixel.gif" width="1" height="1">
</form>


