@model ESD6NL.DriverSystem.Models.UserViewModel

@{
    ViewData["Title"] = "Facturen";
}

<h2>Facturen</h2>

<table class="table  table table-striped table-bordered table-responsive table-condensed">
    <thead>
        <tr>
            <th>Factuur</th>
            <th>Datum</th>
            <th>Totaal kilometers gereden</th>
            <th>Totaal bedrag</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        @*@{
            foreach (var invoice in Model.invoices)
            {
                <text>

            <tr><a asp-action="Details" asp-route="@invoice.invoiceID">
                <td>@invoice.invoiceNumber</td>
                <td>@invoice.period</td>
                <td>@invoice.totalKm</td>
                <td>@invoice.totalAmount</td>
                <td>@invoice.paymentStatus</td>
            </a></tr>

                </text>

            }
        }*@

    </tbody>
</table>

