@using ESD6NL.DriverSystem.Helpers
@model ESD6NL.DriverSystem.Models.UserViewModel

@{
    ViewData["Title"] = "Facturen";
}

<h2>@Html.getTerm("Facturen")</h2>

<table class="table  table table-striped table-bordered table-responsive table-condensed">
    <thead>
        <tr>
            <th>@Html.getTerm("Factuur")</th>
            <th>@Html.getTerm("Datum")</th>
            <th>@Html.getTerm("Totaal kilometers gereden")</th>
            <th>@Html.getTerm("Totaal bedrag")</th>
            <th>@Html.getTerm("Status")</th>
        </tr>
    </thead>

    <tbody>
        @{
            foreach (var invoice in Model.invoices)
            {
                <text>
                    <tr>
                        <td><a asp-action="Details" asp-controller="Invoice" asp-route-id="@invoice.invoiceID">@invoice.invoiceNumber</a></td>
                        <td>@invoice.period</td>
                        <td>@invoice.totalKm</td>
                        <td>@invoice.totalAmount</td>
                        <td>@invoice.paymentStatus</td>
                    </tr>
                </text>

            }
        }

    </tbody>
</table>

